<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" 
"http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<mapper namespace="org.xmgreat.mapper.BackLogMapper">
	<!-- 验证后台登入 -->
	<select id="checkBackLog"
		resultType="org.xmgreat.bean.ManagerBean">
		SELECT ADMINID,MANAGERNAME
		MANGERNAME,SEX,AGE,BIRTHDATE,CITYID,ADDRESS,PHONENUM,PASSWORD,ROLEID,OFFICEID,PARAMETERID
		FROM TBLMANAGER WHERE MANAGERNAME=#{managername} AND
		PASSWORD=#{password}
	</select>

</mapper>
	