<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" 
"http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<mapper namespace="org.xmgreat.mapper.DetailMapper">
	<!-- 增加细项 -->
	<insert id="addDetail"
		parameterType="org.xmgreat.bean.DetailBean">
		insert into
		tbldetail(subentryId,detailName,initValue,parameterId,upperLimit,lowerLimit)
		values(subentryid.nextval,#{detailName,jdbcType=VARCHAR},#{initValue,jdbcType=VARCHAR},
		#{parameterId,jdbcType=INTEGER},#{upperLimit,jdbcType=DOUBLE},#{lowerLimit,jdbcType=DOUBLE})
	</insert>

	<!-- 删除细项 -->
	<delete id="delDetail" parameterType="java.lang.Integer">
		delete tbldetail where
		subentryid = #{subentryId}
	</delete>

	<!-- 修改细项 -->
	<update id="updateDetail"
		parameterType="org.xmgreat.bean.DetailBean">
		update tbldetail set parameterId =
		#{parameterId,jdbcType=INTEGER},detailName
		=#{detailName,jdbcType=VARCHAR},
		initValue =
		#{initValue,jdbcType=VARCHAR},lowerLimit =
		#{lowerLimit,jdbcType=DOUBLE},
		upperLimit =
		#{upperLimit,jdbcType=DOUBLE} where
		subentryId = #{subentryId}
	</update>


	<!-- 查询所有细项 -->
	<select id="selectAll" resultType="org.xmgreat.bean.DetailBean">
		select * from tbldetail
	</select>

	<!-- 根据细项id查询细项 -->
	<select id="getDetail" parameterType="java.lang.Integer"
		resultMap="detail">
		select * from tbldetail where subentryId = #{subentryId}
	</select>

	<!-- 根据细项名称查询细项 -->
	<select id="selectDetail" parameterType="java.lang.String"
		resultMap="detail">
		select * from tbldetail where detailName = #{detailName}
	</select>

	<!-- 查询细项 -->
	<select id="getDetails" parameterType="java.util.Map"
		resultMap="detail">
		select * from (select a.*,rownum rn from (select * from tbldetail
		<if test="detailName!=null">
			where detailName like #{detailName}
		</if>
		) a where
		rownum &lt; #{max}) where
		rn&gt;#{min}
	</select>

	<!-- 查询单位参数 -->
	<select id="selectParameter"
		resultType="org.xmgreat.bean.ParameterBean"
		parameterType="java.lang.Integer">
		select * from tblparameter where parameterId =
		#{parameterId}
	</select>

	<!-- 条件查询细项总数 -->
	<select id="count" parameterType="java.lang.String"
		resultType="java.lang.Integer">
		select count(*) from tbldetail
		<if test="detailName!=null">
			where detailName like #{detailName}
		</if>
	</select>

	<!-- 查询嵌套 -->
	<!-- 连表查单位参数 -->
	<resultMap type="org.xmgreat.bean.DetailBean" id="detail">
		<association property="parameterBean" column="parameterId"
			javaType="org.xmgreat.bean.ParameterBean" select="selectParameter">
		</association>
	</resultMap>



</mapper>