<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<!-- mapper动态代理：  namespace 的值要等于接口的地址（包名.接口名） -->
<mapper namespace="org.xmgreat.mapper.ParamMapper">
	<!-- 条件分页查询参数列表信息 -->
	<select id="search" resultType="org.xmgreat.bean.ParameterBean">
		select * from (
			select * from (
				select rownum rn, r.* from (
					select p1.*, p2.parametername typeName 
					from tblparameter p1, tblparameter p2 
					where p1.parametertype >0
					and p1.parametertype = p2.parameterid
					<if test="null != typeName and '' != typeName">
						 and p2.parametername = #{typeName}
					</if>
					order by p2.parametername ) r ) r1 
					where r1.rn &lt;= #{pageNo}*5 ) r2 where r2.rn &gt; (#{pageNo}-1)*5
	</select>
	<!-- 计算条件分页查询参数总数 -->
	<select id="countOfSearch" parameterType="java.lang.String" resultType="java.lang.Integer">
  		select count(*) 
  		from tblparameter p1, tblparameter p2 
  		where p1.parametertype >0 and p1.parametertype = p2.parameterid
		<if test="null != typeName and '' != typeName">
			and p2.parametername = #{typeName}
		</if>
	</select>
</mapper>