<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" 
"http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<mapper namespace="org.xmgreat.mapper.ProjectResultMapper">

	<!-- 更新项目结果状态 -->
	<update id="updateProjectResul"
		parameterType="org.xmgreat.bean.ProjectResultBean">
		update tbrprojectresult set parameterId =
		#{parameterId},projectResult = #{projectResult,jdbcType=VARCHAR} where
		proresId = #{proresId}
	</update>

	<!-- 根据条件查询项目结果列表 -->
	<select id="count" parameterType="java.util.Map"
		resultType="java.lang.Integer">
		select count(*) from tbrprojectresult r,tblproject p where r.projectId
		= p.projectId and p.officeId = #{officeId} and r.parameterid !=38 and
		r.parameterid != 68
		<if test="parameterId!=null">
			and r.parameterId = #{parameterId}
		</if>
	</select>

	<!-- 根据条件查询项目结果列表 -->
	<select id="selectProjectResults" parameterType="java.util.Map"
		resultMap="projectResult">
		select * from (select a.*,rownum rn from (select
		r.*,u.username,c.parametername from tbrprojectresult r,tblproject
		p,tblparameter c,tbluserinfo u,tblUserPhyRecord d where r.projectId =
		p.projectId and p.officeId = #{officeId} and c.parameterid =
		r.parameterid and r.physicaiid = d.physicaiid and u.userid = d.userid
		and r.parameterid != 38 and r.parameterid != 68
		<if test="parameterId!=null">
			and r.parameterId = #{parameterId}
		</if>
		) a where
		rownum &lt; #{max}) where
		rn&gt;#{min}
	</select>

	<!-- 根据项目结果id查询 -->
	<select id="getProjectResult" resultMap="projectResult">
		select * from
		tbrprojectresult where proresId = #{proresId}
	</select>

	<!-- 查询细项结果 -->
	<select id="subentry" resultType="org.xmgreat.bean.SubentryBean">
		select * from tblsubentry where
		proresId = #{proresId}
	</select>

	<!-- 查询项目实体 -->
	<select id="getProject"
		resultType="org.xmgreat.bean.ProjectBean">
		select * from tblproject where projectId = #{projectId}
	</select>

	<resultMap type="org.xmgreat.bean.ProjectResultBean"
		id="projectResult">
		<id property="proresId" column="proresId" />
		<association property="projectBean" column="projectId"
			javaType="org.xmgreat.bean.ProjectBean" select="getProject">
		</association>
		<collection property="subentrys" column="proresId"
			javaType="java.util.ArrayList" select="subentry">
		</collection>
	</resultMap>
</mapper>