<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" 
"http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<mapper namespace="org.xmgreat.mapper.UserMapper">
	<!-- 验证登入 -->
	<select id="checkUser"
		resultType="org.xmgreat.bean.UserInfoBean">
		SELECT * FROM TBLUSERINFO WHERE PHONE=#{phone} AND
		PWD=#{pwd}
	</select>
	<!-- 验证手机号是否被注册 -->
	<select id="checkPhone"
		resultType="org.xmgreat.bean.UserInfoBean">
		SELECT * FROM TBLUSERINFO WHERE PHONE=#{phone}
	</select>
	<!-- 用户注册 -->
	<insert id="reg">
		INSERT INTO TBLUSERINFO
		(USERID,USERNAME,PHONE,PWD,REGTIME,PARAMETERID) VALUES
		(USERREG.NEXTVAL,#{username},#{phone},#{pwd},to_char(sysdate,'yyyy-mm-dd'),1)
	</insert>

	<!-- 用户忘记密码 -->
	<update id="forGotPwd">
		update tblUserInfo set pwd = #{pwd} where
		phone=#{phone}
	</update>

	<!-- 用户修改资料 -->
	<update id="changeInfo">
		UPDATE TBLUSERINFO SET
		SEX=#{sex},AGE=#{age},BIRTH=#{birth},BLOODTYPE=#{blood},USERADD=#{add}
		WHERE PHONE=#{phone}
	</update>

	<!-- 用户账户明细 -->
	<select id="getAccout"
		resultType="org.xmgreat.bean.UserAccoutBean">
		SELECT OCCURTIME,OCCURMATTER,MONEY,BALANCE FROM (SELECT
		E.*,ROWNUM RN FROM TBLUSERACCOUT E WHERE E.USERID=#{userid} AND
		ROWNUM&lt;=#{page}*5)WHERE RN&gt;=#{page}*5-4 ORDER BY OCCURTIME DESC
	</select>


	<!-- 套餐 -->
	<select id="getSetmeal"
		resultType="org.xmgreat.bean.SetmealBean">
		SELECT ROWNUM NUM,SETMEALID,SETMEALNAME FROM (SELECT
		E.*,ROWNUM RN FROM TBLSETMEAL E WHERE ROWNUM&lt;=#{page}*5)WHERE
		RN&gt;=#{page}*5-4
	</select>

	<!-- 细项 -->
	<select id="getxi" resultType="org.xmgreat.bean.ProjectBean">
		SELECT C.ITEMNAME FROM TBLSETMEAL
		A,TBLSETMEALITME
		B,TBLPROJECT C WHERE A.SETMEALID=B.SETMEALID AND
		B.PROJECTID=C.PROJECTID AND A.SETMEALID=#{mid}
	</select>


	<!-- 模糊查询套餐 -->
	<select id="selectMeal"
		resultType="org.xmgreat.bean.SetmealBean">
		SELECT ROWNUM NUM,SETMEALID,SETMEALNAME FROM(SELECT
		E.*,ROWNUM RN FROM TBLSETMEAL E WHERE SETMEALNAME LIKE '%${name}%' AND
		ROWNUM&lt;=#{page}*5)WHERE RN&gt;=#{page}*5-4
	</select>


	<!-- 查询总数 -->
	<select id="countMeal" resultType="java.lang.Integer">
		SELECT COUNT(*) FROM
		TBLSETMEAL
	</select>


</mapper>